
form{
    display: flex;
    justify-content: center;
    flex-direction: column;    
    padding: 5rem;
}
input{
background-color: transparent;
border: none;
border-bottom: solid 1px green;
}
input:focus{
    
}
