div.card {
  display: flex;
  justify-content: center;
  align-items: center;
}
div.card form {
  display: flex;
  flex-direction: column;
  margin: 10%;
}
div.card form input {
  height: 36px;
  width: 170%;
  border: none;
  border-radius: 6px;
  padding: 4px;
  margin: 5px 0;
}
.btn {
  background-color: #21262d;
  color: #fff;
  transition: 0.4s;
  cursor: pointer;
}
.btn:hover {
  background-color: #fff;
  color: #21262d;
}
a {
  color: #2f81f7;
  transition: 0.2s;
}
a:hover {
  color: #2f82f78c;
}
